h1{
    
    color:black;
    display: flex;
    justify-content: space-between;
    background-color: cyan;
    justify-content: center;
    font-size: 20px;
    font-family: fantasy;
    font-weight: 400;
    color: white;
}

  li{
      color:#ff0000;
  }
  a{
      color: royalblue;
  }
  body{
    border: solid;
  }

  .header {

    justify-content: space-between;
    border: solid;

  }

.origamiFull{
   
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    font-family: sans-serif;
    
}

.origami {
    
    border-radius: 30px;
    justify-content: center;
    margin: 25px;
    margin-left: 17px;
    background-color: #f0f0f0;
    
    width:400px;
    text-align: justify;
    font-family: fantasy;
    
}

.origami:hover img{

    opacity: 0.5;  
    border-radius: 5px;
    zoom: 110%;
    margin-left: 27px;

}

a:link {

    color:cyan;

}

a:visited {

    color:blue;

}

a {

    text-decoration: none;

}

.origami h2 {

    margin-left: 150px;

}

.origami h3 {

    margin-left: 80px;

}

.origamiFull img{
   
    border: 4px solid black;
    justify-content: center;
    border-radius: 50px;
    margin-left: 50px;

}
.origamiFull ol {
   
    border: 5px solid black;
    justify-content: center;
    border-radius: 7px;
    margin-left: 25px;
    margin-top: 50px;
    width: 300px;

}

html{
   
    background-color: #808080;

}